# Copy this file to `.env` and fill real values
DATABASE_URL=postgresql://user:password@localhost:5432/dbname
AUTH_SECRET=replace_with_random_secure_string
AWS_REGION=your-aws-region
S3_BUCKET_NAME=your-bucket-name
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key

# Optional
NEXT_PUBLIC_SOME_KEY=some_value
